.recipes {
  min-height: 720px;
  max-height: 800px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.recipes__title {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 100px 0 0 80px;
}

.recipes__subtitle {
  color: #fff;
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  margin: 80px auto 215px;
}

.recipes__video-item {
  display: inline-block;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 30px;
  margin-top: 24px;
}
